//
// Written by Synplify Pro 
// Product Version "W-2025.03M-SP1-1"
// Program "Synplify Pro", Mapper "map202503actsp1, Build 108R"
// Sat May  2 10:36:49 2026
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\/home/hagen/microchip/Libero_SoC_2025.2/Libero_SoC/Synplify_Pro/lib/generic/rtg4.v "
// file 1 "\/home/hagen/microchip/Libero_SoC_2025.2/Libero_SoC/Synplify_Pro/lib/vlog/hypermods.v "
// file 2 "\/home/hagen/microchip/Libero_SoC_2025.2/Libero_SoC/Synplify_Pro/lib/vlog/umr_capim.v "
// file 3 "\/home/hagen/microchip/Libero_SoC_2025.2/Libero_SoC/Synplify_Pro/lib/vlog/scemi_objects.v "
// file 4 "\/home/hagen/microchip/Libero_SoC_2025.2/Libero_SoC/Synplify_Pro/lib/vlog/scemi_pipes.svh "
// file 5 "\/home/hagen/school/fpga_comparison_project/libero_project/libero_project/component/syn_comps.v "
// file 6 "\/home/hagen/school/fpga_comparison_project/libero_project/libero_project/hdl/spi_controller.sv "
// file 7 "\/home/hagen/school/fpga_comparison_project/libero_project/libero_project/hdl/spi_controller_tmr.sv "
// file 8 "\/home/hagen/microchip/Libero_SoC_2025.2/Libero_SoC/Synplify_Pro/lib/nlconst.dat "
// file 9 "\/home/hagen/school/fpga_comparison_project/libero_project/libero_project/designer/spi_controller_tmr/synthesis.fdc "

`timescale 100 ps/100 ps
module spi_controller_8s_4s_0_0 (
  un1_u_spi,
  tx_data_c,
  miso_c,
  N_94,
  rst_n_c,
  start_c,
  un1_u_spi_2,
  un1_u_spi_4,
  un1_u_spi_5,
  un1_u_spi_3,
  clk_c,
  rst_n_arst
)
;
output [7:0] un1_u_spi ;
input [7:0] tx_data_c ;
input miso_c ;
output N_94 ;
input rst_n_c ;
input start_c ;
output un1_u_spi_2 ;
output un1_u_spi_4 ;
output un1_u_spi_5 ;
output un1_u_spi_3 ;
input clk_c ;
input rst_n_arst ;
wire miso_c ;
wire N_94 ;
wire rst_n_c ;
wire start_c ;
wire un1_u_spi_2 ;
wire un1_u_spi_4 ;
wire un1_u_spi_5 ;
wire un1_u_spi_3 ;
wire clk_c ;
wire rst_n_arst ;
wire [5:0] shift_reg_rx_0_Z;
wire [0:0] shift_reg_rx_0_ns_Z;
wire [0:0] shift_reg_rx_1_Z;
wire [0:0] shift_reg_rx_2_Z;
wire [0:0] shift_reg_rx_3_Z;
wire [0:0] shift_reg_rx_4_Z;
wire [0:0] shift_reg_rx_5_Z;
wire [0:0] shift_reg_rx_6_Z;
wire [0:0] shift_reg_rx_7_Z;
wire [7:0] shift_reg_tx_Z;
wire [0:0] clk_cnt_4;
wire [1:1] clk_cnt_Z;
wire [2:0] bit_cnt_Z;
wire [2:0] bit_cnt_5;
wire [5:1] shift_reg_rx_0_ns;
wire [2:2] un8_Z;
wire GND ;
wire VCC ;
wire N_107_i ;
wire N_96_i ;
wire N_223_i ;
wire sclk_r_1_sqmuxa_i_0_Z ;
wire N_147_i ;
wire N_36_i ;
wire mosi_6 ;
wire N_32 ;
wire rx_data_1_sqmuxa_Z ;
wire cs_n_1_0_i_a2_Z ;
wire CO0_0 ;
wire N_30_i ;
wire N_75_i ;
wire N_77_i ;
wire mosi_4_7_i_m3_2_wmux_3_FCO_0 ;
wire mosi_4_7_i_m3_2_wmux_3_S_0 ;
wire N_41 ;
wire mosi_4_7_i_m3_2_0_y1 ;
wire mosi_4_7_i_m3_2_0_y3 ;
wire mosi_4_7_i_m3_2_co1_0 ;
wire mosi_4_7_i_m3_2_wmux_2_S_0 ;
wire mosi_4_7_i_m3_2_y0_0 ;
wire mosi_4_7_i_m3_2_co0_0 ;
wire mosi_4_7_i_m3_2_wmux_1_S_0 ;
wire mosi_4_7_i_m3_2_0_co1 ;
wire mosi_4_7_i_m3_2_wmux_0_S_0 ;
wire mosi_4_7_i_m3_2_0_y0 ;
wire mosi_4_7_i_m3_2_0_co0 ;
wire mosi_4_7_i_m3_2_wmux_S_0 ;
wire sclk_r_1_sqmuxa_i_0_i_Z ;
wire N_40 ;
wire un1_shift_reg_tx_1_sqmuxa_i_a2_0_0_Z ;
wire N_38 ;
wire N_53 ;
wire N_112 ;
wire N_90 ;
wire N_108 ;
wire N_107 ;
wire N_15 ;
wire N_14 ;
wire N_13 ;
wire N_12 ;
wire N_11 ;
wire N_10 ;
// @6:74
  SLE \shift_reg_rx_0[0]  (
	.Q(shift_reg_rx_0_Z[0]),
	.ADn(GND),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_0_ns_Z[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_1[0]  (
	.Q(shift_reg_rx_1_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(N_107_i),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:50
  SLE sclk_r (
	.Q(un1_u_spi_3),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(N_223_i),
	.EN(sclk_r_1_sqmuxa_i_0_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_2[0]  (
	.Q(shift_reg_rx_2_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_1_Z[0]),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_3[0]  (
	.Q(shift_reg_rx_3_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_2_Z[0]),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_4[0]  (
	.Q(shift_reg_rx_4_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_3_Z[0]),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE cs_n (
	.Q(un1_u_spi_5),
	.ADn(GND),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(N_147_i),
	.EN(N_36_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_5[0]  (
	.Q(shift_reg_rx_5_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_4_Z[0]),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_6[0]  (
	.Q(shift_reg_rx_6_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_5_Z[0]),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE mosi (
	.Q(un1_u_spi_4),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(mosi_6),
	.EN(N_32),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_7[0]  (
	.Q(shift_reg_rx_7_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_6_Z[0]),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[5]  (
	.Q(un1_u_spi[5]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_5_Z[0]),
	.EN(rx_data_1_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[4]  (
	.Q(un1_u_spi[4]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_4_Z[0]),
	.EN(rx_data_1_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[3]  (
	.Q(un1_u_spi[3]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_3_Z[0]),
	.EN(rx_data_1_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[2]  (
	.Q(un1_u_spi[2]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_2_Z[0]),
	.EN(rx_data_1_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[1]  (
	.Q(un1_u_spi[1]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_1_Z[0]),
	.EN(rx_data_1_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[0]  (
	.Q(un1_u_spi[0]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(N_107_i),
	.EN(rx_data_1_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[7]  (
	.Q(shift_reg_tx_Z[7]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[7]),
	.EN(cs_n_1_0_i_a2_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[6]  (
	.Q(shift_reg_tx_Z[6]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[6]),
	.EN(cs_n_1_0_i_a2_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[5]  (
	.Q(shift_reg_tx_Z[5]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[5]),
	.EN(cs_n_1_0_i_a2_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[4]  (
	.Q(shift_reg_tx_Z[4]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[4]),
	.EN(cs_n_1_0_i_a2_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[3]  (
	.Q(shift_reg_tx_Z[3]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[3]),
	.EN(cs_n_1_0_i_a2_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[2]  (
	.Q(shift_reg_tx_Z[2]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[2]),
	.EN(cs_n_1_0_i_a2_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[1]  (
	.Q(shift_reg_tx_Z[1]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[1]),
	.EN(cs_n_1_0_i_a2_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[0]  (
	.Q(shift_reg_tx_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[0]),
	.EN(cs_n_1_0_i_a2_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[7]  (
	.Q(un1_u_spi[7]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_7_Z[0]),
	.EN(rx_data_1_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[6]  (
	.Q(un1_u_spi[6]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_6_Z[0]),
	.EN(rx_data_1_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:50
  SLE \clk_cnt[0]  (
	.Q(CO0_0),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(clk_cnt_4[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:50
  SLE \clk_cnt[1]  (
	.Q(clk_cnt_Z[1]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(N_30_i),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \bit_cnt[0]  (
	.Q(bit_cnt_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(bit_cnt_5[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \bit_cnt[1]  (
	.Q(bit_cnt_Z[1]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(bit_cnt_5[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \bit_cnt[2]  (
	.Q(bit_cnt_Z[2]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(bit_cnt_5[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_0[1]  (
	.Q(shift_reg_rx_0_Z[1]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_0_ns[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_0[2]  (
	.Q(shift_reg_rx_0_Z[2]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(N_75_i),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_0[3]  (
	.Q(shift_reg_rx_0_Z[3]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(N_77_i),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_0[4]  (
	.Q(shift_reg_rx_0_Z[4]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_0_ns[4]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_0[5]  (
	.Q(shift_reg_rx_0_Z[5]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_0_ns[5]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE done (
	.Q(un1_u_spi_2),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(un8_Z[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
  ARI1 mosi_4_7_i_m3_2_wmux_3 (
	.FCO(mosi_4_7_i_m3_2_wmux_3_FCO_0),
	.S(mosi_4_7_i_m3_2_wmux_3_S_0),
	.Y(N_41),
	.B(mosi_4_7_i_m3_2_0_y1),
	.C(bit_cnt_Z[0]),
	.D(VCC),
	.A(mosi_4_7_i_m3_2_0_y3),
	.FCI(mosi_4_7_i_m3_2_co1_0)
);
defparam mosi_4_7_i_m3_2_wmux_3.INIT=20'h0EC2C;
  ARI1 mosi_4_7_i_m3_2_wmux_2 (
	.FCO(mosi_4_7_i_m3_2_co1_0),
	.S(mosi_4_7_i_m3_2_wmux_2_S_0),
	.Y(mosi_4_7_i_m3_2_0_y3),
	.B(bit_cnt_Z[1]),
	.C(shift_reg_tx_Z[2]),
	.D(shift_reg_tx_Z[6]),
	.A(mosi_4_7_i_m3_2_y0_0),
	.FCI(mosi_4_7_i_m3_2_co0_0)
);
defparam mosi_4_7_i_m3_2_wmux_2.INIT=20'h0F588;
  ARI1 mosi_4_7_i_m3_2_wmux_1 (
	.FCO(mosi_4_7_i_m3_2_co0_0),
	.S(mosi_4_7_i_m3_2_wmux_1_S_0),
	.Y(mosi_4_7_i_m3_2_y0_0),
	.B(bit_cnt_Z[1]),
	.C(shift_reg_tx_Z[0]),
	.D(shift_reg_tx_Z[4]),
	.A(bit_cnt_Z[2]),
	.FCI(mosi_4_7_i_m3_2_0_co1)
);
defparam mosi_4_7_i_m3_2_wmux_1.INIT=20'h0FA44;
  ARI1 mosi_4_7_i_m3_2_wmux_0 (
	.FCO(mosi_4_7_i_m3_2_0_co1),
	.S(mosi_4_7_i_m3_2_wmux_0_S_0),
	.Y(mosi_4_7_i_m3_2_0_y1),
	.B(bit_cnt_Z[1]),
	.C(shift_reg_tx_Z[1]),
	.D(shift_reg_tx_Z[5]),
	.A(mosi_4_7_i_m3_2_0_y0),
	.FCI(mosi_4_7_i_m3_2_0_co0)
);
defparam mosi_4_7_i_m3_2_wmux_0.INIT=20'h0F588;
  ARI1 mosi_4_7_i_m3_2_0_wmux (
	.FCO(mosi_4_7_i_m3_2_0_co0),
	.S(mosi_4_7_i_m3_2_wmux_S_0),
	.Y(mosi_4_7_i_m3_2_0_y0),
	.B(bit_cnt_Z[1]),
	.C(shift_reg_tx_Z[7]),
	.D(shift_reg_tx_Z[3]),
	.A(bit_cnt_Z[2]),
	.FCI(VCC)
);
defparam mosi_4_7_i_m3_2_0_wmux.INIT=20'h0FA44;
// @6:15
  CFG3 cs_n_1_0_i_a2 (
	.A(shift_reg_rx_0_Z[1]),
	.B(start_c),
	.C(shift_reg_rx_0_Z[0]),
	.Y(cs_n_1_0_i_a2_Z)
);
defparam cs_n_1_0_i_a2.INIT=8'hC8;
// @6:148
  CFG3 rx_data_1_sqmuxa (
	.A(shift_reg_rx_0_Z[5]),
	.B(rst_n_c),
	.C(shift_reg_rx_0_Z[4]),
	.Y(rx_data_1_sqmuxa_Z)
);
defparam rx_data_1_sqmuxa.INIT=8'hC8;
// @6:74
  CFG4 sclk_r_RNIMQUG6 (
	.A(CO0_0),
	.B(N_36_i),
	.C(clk_cnt_Z[1]),
	.D(un1_u_spi_3),
	.Y(N_96_i)
);
defparam sclk_r_RNIMQUG6.INIT=16'h0020;
// @6:55
  CFG3 sclk_r_1_sqmuxa_i_0_i (
	.A(clk_cnt_Z[1]),
	.B(CO0_0),
	.C(N_36_i),
	.Y(sclk_r_1_sqmuxa_i_0_i_Z)
);
defparam sclk_r_1_sqmuxa_i_0_i.INIT=8'h07;
// @6:15
  CFG2 cs_n_1_0_i_a2_i (
	.A(N_94),
	.B(start_c),
	.Y(N_147_i)
);
defparam cs_n_1_0_i_a2_i.INIT=4'hB;
// @6:74
  CFG2 N_93_i_0_o3 (
	.A(bit_cnt_Z[1]),
	.B(bit_cnt_Z[2]),
	.Y(N_40)
);
defparam N_93_i_0_o3.INIT=4'hE;
// @6:67
  CFG2 shift_reg_rx_0_sqmuxa_0_0_i_0_o3 (
	.A(shift_reg_rx_0_Z[3]),
	.B(shift_reg_rx_0_Z[2]),
	.Y(N_36_i)
);
defparam shift_reg_rx_0_sqmuxa_0_0_i_0_o3.INIT=4'h1;
// @6:51
  CFG2 \clk_cnt_4_0_a2[0]  (
	.A(sclk_r_1_sqmuxa_i_0_i_Z),
	.B(CO0_0),
	.Y(clk_cnt_4[0])
);
defparam \clk_cnt_4_0_a2[0] .INIT=4'h2;
// @6:86
  CFG2 \bit_cnt_5_o2[0]  (
	.A(shift_reg_rx_0_Z[1]),
	.B(shift_reg_rx_0_Z[0]),
	.Y(N_94)
);
defparam \bit_cnt_5_o2[0] .INIT=4'h1;
// @6:74
  CFG2 \un8[2]  (
	.A(shift_reg_rx_0_Z[5]),
	.B(shift_reg_rx_0_Z[4]),
	.Y(un8_Z[2])
);
defparam \un8[2] .INIT=4'hE;
// @6:86
  CFG3 un1_shift_reg_tx_1_sqmuxa_i_a2_0_0 (
	.A(un1_u_spi_3),
	.B(clk_cnt_Z[1]),
	.C(CO0_0),
	.Y(un1_shift_reg_tx_1_sqmuxa_i_a2_0_0_Z)
);
defparam un1_shift_reg_tx_1_sqmuxa_i_a2_0_0.INIT=8'h80;
// @6:67
  CFG3 sclk_en_i_o2 (
	.A(un1_u_spi_3),
	.B(clk_cnt_Z[1]),
	.C(CO0_0),
	.Y(N_38)
);
defparam sclk_en_i_o2.INIT=8'hBF;
// @6:55
  CFG3 sclk_r_1_sqmuxa_i_0 (
	.A(clk_cnt_Z[1]),
	.B(CO0_0),
	.C(N_36_i),
	.Y(sclk_r_1_sqmuxa_i_0_Z)
);
defparam sclk_r_1_sqmuxa_i_0.INIT=8'hF8;
// @6:74
  CFG3 \shift_reg_rx_0_ns_0[1]  (
	.A(start_c),
	.B(shift_reg_rx_0_Z[5]),
	.C(shift_reg_rx_0_Z[1]),
	.Y(shift_reg_rx_0_ns[1])
);
defparam \shift_reg_rx_0_ns_0[1] .INIT=8'hDC;
// @6:74
  CFG3 \shift_reg_rx_0_ns[0]  (
	.A(start_c),
	.B(shift_reg_rx_0_Z[4]),
	.C(shift_reg_rx_0_Z[0]),
	.Y(shift_reg_rx_0_ns_Z[0])
);
defparam \shift_reg_rx_0_ns[0] .INIT=8'hDC;
// @6:86
  CFG4 mosi_6_iv_0_0 (
	.A(N_41),
	.B(tx_data_c[7]),
	.C(N_94),
	.D(N_36_i),
	.Y(mosi_6)
);
defparam mosi_6_iv_0_0.INIT=16'h0CAE;
// @6:74
  CFG3 \shift_reg_rx_0_RNI5ENRG[3]  (
	.A(shift_reg_rx_0_Z[5]),
	.B(shift_reg_rx_0_Z[1]),
	.C(shift_reg_rx_0_Z[3]),
	.Y(N_107_i)
);
defparam \shift_reg_rx_0_RNI5ENRG[3] .INIT=8'hFE;
// @6:50
  CFG2 sclk_r_RNO (
	.A(N_36_i),
	.B(un1_u_spi_3),
	.Y(N_223_i)
);
defparam sclk_r_RNO.INIT=4'h1;
// @6:86
  CFG4 un1_shift_reg_tx_1_sqmuxa_i_0 (
	.A(un1_shift_reg_tx_1_sqmuxa_i_a2_0_0_Z),
	.B(start_c),
	.C(N_94),
	.D(N_36_i),
	.Y(N_32)
);
defparam un1_shift_reg_tx_1_sqmuxa_i_0.INIT=16'hFCA8;
// @6:86
  CFG3 \bit_cnt_5_0_o3[1]  (
	.A(N_38),
	.B(bit_cnt_Z[0]),
	.C(N_36_i),
	.Y(N_53)
);
defparam \bit_cnt_5_0_o3[1] .INIT=8'hFE;
// @6:86
  CFG3 \bit_cnt_5_0_a2_0[0]  (
	.A(N_38),
	.B(bit_cnt_Z[0]),
	.C(N_36_i),
	.Y(N_112)
);
defparam \bit_cnt_5_0_a2_0[0] .INIT=8'hC8;
// @6:74
  CFG4 \shift_reg_rx_0_ns_i_0_o2_0[2]  (
	.A(N_40),
	.B(N_38),
	.C(bit_cnt_Z[0]),
	.D(N_36_i),
	.Y(N_90)
);
defparam \shift_reg_rx_0_ns_i_0_o2_0[2] .INIT=16'hFF01;
// @6:50
  CFG3 \clk_cnt_RNO[1]  (
	.A(sclk_r_1_sqmuxa_i_0_i_Z),
	.B(clk_cnt_Z[1]),
	.C(CO0_0),
	.Y(N_30_i)
);
defparam \clk_cnt_RNO[1] .INIT=8'h28;
// @6:74
  CFG4 \shift_reg_rx_0_ns_i_0_o2[3]  (
	.A(shift_reg_rx_0_Z[3]),
	.B(miso_c),
	.C(N_90),
	.D(N_38),
	.Y(N_108)
);
defparam \shift_reg_rx_0_ns_i_0_o2[3] .INIT=16'hF5F3;
// @6:74
  CFG4 \shift_reg_rx_0_ns_i_0_o2[2]  (
	.A(shift_reg_rx_0_Z[2]),
	.B(miso_c),
	.C(N_90),
	.D(N_38),
	.Y(N_107)
);
defparam \shift_reg_rx_0_ns_i_0_o2[2] .INIT=16'hF5FC;
// @6:86
  CFG4 \bit_cnt_5_0[0]  (
	.A(N_112),
	.B(N_53),
	.C(N_40),
	.D(N_94),
	.Y(bit_cnt_5[0])
);
defparam \bit_cnt_5_0[0] .INIT=16'hBAFF;
// @6:74
  CFG3 \shift_reg_rx_0_ns_a2_0_a2[5]  (
	.A(N_53),
	.B(miso_c),
	.C(N_40),
	.Y(shift_reg_rx_0_ns[5])
);
defparam \shift_reg_rx_0_ns_a2_0_a2[5] .INIT=8'h04;
// @6:74
  CFG3 \shift_reg_rx_0_ns_a2_0_a2[4]  (
	.A(N_53),
	.B(miso_c),
	.C(N_40),
	.Y(shift_reg_rx_0_ns[4])
);
defparam \shift_reg_rx_0_ns_a2_0_a2[4] .INIT=8'h01;
// @6:86
  CFG4 \bit_cnt_5_0[1]  (
	.A(bit_cnt_Z[2]),
	.B(bit_cnt_Z[1]),
	.C(N_94),
	.D(N_53),
	.Y(bit_cnt_5[1])
);
defparam \bit_cnt_5_0[1] .INIT=16'hCF2F;
// @6:86
  CFG4 \bit_cnt_5_0[2]  (
	.A(bit_cnt_Z[2]),
	.B(bit_cnt_Z[1]),
	.C(N_94),
	.D(N_53),
	.Y(bit_cnt_5[2])
);
defparam \bit_cnt_5_0[2] .INIT=16'hAF8F;
// @6:74
  CFG4 \shift_reg_rx_0_RNO[3]  (
	.A(shift_reg_rx_0_Z[1]),
	.B(start_c),
	.C(N_108),
	.D(N_36_i),
	.Y(N_77_i)
);
defparam \shift_reg_rx_0_RNO[3] .INIT=16'h8CAF;
// @6:74
  CFG4 \shift_reg_rx_0_RNO[2]  (
	.A(shift_reg_rx_0_Z[0]),
	.B(start_c),
	.C(N_107),
	.D(N_36_i),
	.Y(N_75_i)
);
defparam \shift_reg_rx_0_RNO[2] .INIT=16'h8CAF;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* spi_controller_8s_4s_0_0 */

module spi_controller_8s_4s_0_0_2 (
  un1_u_spi,
  tx_data_c,
  miso_c,
  rst_n_c,
  N_94,
  start_c,
  un1_u_spi_2,
  un1_u_spi_4,
  un1_u_spi_5,
  un1_u_spi_3,
  clk_c,
  rst_n_arst
)
;
output [7:0] un1_u_spi ;
input [7:0] tx_data_c ;
input miso_c ;
input rst_n_c ;
output N_94 ;
input start_c ;
output un1_u_spi_2 ;
output un1_u_spi_4 ;
output un1_u_spi_5 ;
output un1_u_spi_3 ;
input clk_c ;
input rst_n_arst ;
wire miso_c ;
wire rst_n_c ;
wire N_94 ;
wire start_c ;
wire un1_u_spi_2 ;
wire un1_u_spi_4 ;
wire un1_u_spi_5 ;
wire un1_u_spi_3 ;
wire clk_c ;
wire rst_n_arst ;
wire [5:0] shift_reg_rx_0_Z;
wire [5:0] shift_reg_rx_0_ns;
wire [0:0] shift_reg_rx_1_Z;
wire [0:0] shift_reg_rx_2_Z;
wire [0:0] shift_reg_rx_3_Z;
wire [0:0] shift_reg_rx_4_Z;
wire [0:0] shift_reg_rx_5_Z;
wire [0:0] shift_reg_rx_6_Z;
wire [0:0] shift_reg_rx_7_Z;
wire [7:0] shift_reg_tx_Z;
wire [0:0] clk_cnt_4;
wire [1:1] clk_cnt_Z;
wire [2:0] bit_cnt_Z;
wire [2:0] bit_cnt_5;
wire GND ;
wire VCC ;
wire N_107_i ;
wire N_96_i ;
wire N_223_i ;
wire N_35 ;
wire N_77_i ;
wire N_50_i ;
wire mosi_6 ;
wire N_33 ;
wire N_59_i ;
wire N_77 ;
wire CO0_0 ;
wire N_26_i ;
wire N_75_i ;
wire N_77_i_0 ;
wire N_141_i ;
wire mosi_4_7_i_m3_2_wmux_3_FCO ;
wire mosi_4_7_i_m3_2_wmux_3_S ;
wire N_57 ;
wire mosi_4_7_i_m3_2_0_y1 ;
wire mosi_4_7_i_m3_2_0_y3 ;
wire mosi_4_7_i_m3_2_co1_0 ;
wire mosi_4_7_i_m3_2_wmux_2_S ;
wire mosi_4_7_i_m3_2_y0_0 ;
wire mosi_4_7_i_m3_2_co0_0 ;
wire mosi_4_7_i_m3_2_wmux_1_S ;
wire mosi_4_7_i_m3_2_0_co1 ;
wire mosi_4_7_i_m3_2_wmux_0_S ;
wire mosi_4_7_i_m3_2_0_y0 ;
wire mosi_4_7_i_m3_2_0_co0 ;
wire mosi_4_7_i_m3_2_0_wmux_S ;
wire sclk_r_1_sqmuxa_i_0_i_0 ;
wire N_56 ;
wire un1_shift_reg_tx_1_sqmuxa_i_a2_0_0_Z ;
wire N_52 ;
wire N_54 ;
wire N_68 ;
wire N_89 ;
wire N_110 ;
wire N_109 ;
wire N_15 ;
wire N_14 ;
wire N_13 ;
wire N_12 ;
wire N_11 ;
wire N_10 ;
// @6:74
  SLE \shift_reg_rx_0[0]  (
	.Q(shift_reg_rx_0_Z[0]),
	.ADn(GND),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_0_ns[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_1[0]  (
	.Q(shift_reg_rx_1_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(N_107_i),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:50
  SLE sclk_r (
	.Q(un1_u_spi_3),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(N_223_i),
	.EN(N_35),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_2[0]  (
	.Q(shift_reg_rx_2_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_1_Z[0]),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_3[0]  (
	.Q(shift_reg_rx_3_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_2_Z[0]),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_4[0]  (
	.Q(shift_reg_rx_4_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_3_Z[0]),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE cs_n (
	.Q(un1_u_spi_5),
	.ADn(GND),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(N_77_i),
	.EN(N_50_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_5[0]  (
	.Q(shift_reg_rx_5_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_4_Z[0]),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_6[0]  (
	.Q(shift_reg_rx_6_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_5_Z[0]),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE mosi (
	.Q(un1_u_spi_4),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(mosi_6),
	.EN(N_33),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_7[0]  (
	.Q(shift_reg_rx_7_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_6_Z[0]),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[5]  (
	.Q(un1_u_spi[5]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_5_Z[0]),
	.EN(N_59_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[4]  (
	.Q(un1_u_spi[4]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_4_Z[0]),
	.EN(N_59_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[3]  (
	.Q(un1_u_spi[3]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_3_Z[0]),
	.EN(N_59_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[2]  (
	.Q(un1_u_spi[2]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_2_Z[0]),
	.EN(N_59_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[1]  (
	.Q(un1_u_spi[1]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_1_Z[0]),
	.EN(N_59_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[0]  (
	.Q(un1_u_spi[0]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(N_107_i),
	.EN(N_59_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[7]  (
	.Q(shift_reg_tx_Z[7]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[7]),
	.EN(N_77),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[6]  (
	.Q(shift_reg_tx_Z[6]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[6]),
	.EN(N_77),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[5]  (
	.Q(shift_reg_tx_Z[5]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[5]),
	.EN(N_77),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[4]  (
	.Q(shift_reg_tx_Z[4]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[4]),
	.EN(N_77),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[3]  (
	.Q(shift_reg_tx_Z[3]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[3]),
	.EN(N_77),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[2]  (
	.Q(shift_reg_tx_Z[2]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[2]),
	.EN(N_77),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[1]  (
	.Q(shift_reg_tx_Z[1]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[1]),
	.EN(N_77),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[0]  (
	.Q(shift_reg_tx_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[0]),
	.EN(N_77),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[7]  (
	.Q(un1_u_spi[7]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_7_Z[0]),
	.EN(N_59_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[6]  (
	.Q(un1_u_spi[6]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_6_Z[0]),
	.EN(N_59_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:50
  SLE \clk_cnt[0]  (
	.Q(CO0_0),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(clk_cnt_4[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:50
  SLE \clk_cnt[1]  (
	.Q(clk_cnt_Z[1]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(N_26_i),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \bit_cnt[0]  (
	.Q(bit_cnt_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(bit_cnt_5[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \bit_cnt[1]  (
	.Q(bit_cnt_Z[1]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(bit_cnt_5[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \bit_cnt[2]  (
	.Q(bit_cnt_Z[2]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(bit_cnt_5[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_0[1]  (
	.Q(shift_reg_rx_0_Z[1]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_0_ns[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_0[2]  (
	.Q(shift_reg_rx_0_Z[2]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(N_75_i),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_0[3]  (
	.Q(shift_reg_rx_0_Z[3]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(N_77_i_0),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_0[4]  (
	.Q(shift_reg_rx_0_Z[4]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_0_ns[4]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_0[5]  (
	.Q(shift_reg_rx_0_Z[5]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_0_ns[5]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE done (
	.Q(un1_u_spi_2),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(N_141_i),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
  ARI1 mosi_4_7_i_m3_2_wmux_3 (
	.FCO(mosi_4_7_i_m3_2_wmux_3_FCO),
	.S(mosi_4_7_i_m3_2_wmux_3_S),
	.Y(N_57),
	.B(mosi_4_7_i_m3_2_0_y1),
	.C(bit_cnt_Z[0]),
	.D(VCC),
	.A(mosi_4_7_i_m3_2_0_y3),
	.FCI(mosi_4_7_i_m3_2_co1_0)
);
defparam mosi_4_7_i_m3_2_wmux_3.INIT=20'h0EC2C;
  ARI1 mosi_4_7_i_m3_2_wmux_2 (
	.FCO(mosi_4_7_i_m3_2_co1_0),
	.S(mosi_4_7_i_m3_2_wmux_2_S),
	.Y(mosi_4_7_i_m3_2_0_y3),
	.B(bit_cnt_Z[1]),
	.C(shift_reg_tx_Z[2]),
	.D(shift_reg_tx_Z[6]),
	.A(mosi_4_7_i_m3_2_y0_0),
	.FCI(mosi_4_7_i_m3_2_co0_0)
);
defparam mosi_4_7_i_m3_2_wmux_2.INIT=20'h0F588;
  ARI1 mosi_4_7_i_m3_2_wmux_1 (
	.FCO(mosi_4_7_i_m3_2_co0_0),
	.S(mosi_4_7_i_m3_2_wmux_1_S),
	.Y(mosi_4_7_i_m3_2_y0_0),
	.B(bit_cnt_Z[1]),
	.C(shift_reg_tx_Z[0]),
	.D(shift_reg_tx_Z[4]),
	.A(bit_cnt_Z[2]),
	.FCI(mosi_4_7_i_m3_2_0_co1)
);
defparam mosi_4_7_i_m3_2_wmux_1.INIT=20'h0FA44;
  ARI1 mosi_4_7_i_m3_2_wmux_0 (
	.FCO(mosi_4_7_i_m3_2_0_co1),
	.S(mosi_4_7_i_m3_2_wmux_0_S),
	.Y(mosi_4_7_i_m3_2_0_y1),
	.B(bit_cnt_Z[1]),
	.C(shift_reg_tx_Z[1]),
	.D(shift_reg_tx_Z[5]),
	.A(mosi_4_7_i_m3_2_0_y0),
	.FCI(mosi_4_7_i_m3_2_0_co0)
);
defparam mosi_4_7_i_m3_2_wmux_0.INIT=20'h0F588;
  ARI1 mosi_4_7_i_m3_2_0_wmux (
	.FCO(mosi_4_7_i_m3_2_0_co0),
	.S(mosi_4_7_i_m3_2_0_wmux_S),
	.Y(mosi_4_7_i_m3_2_0_y0),
	.B(bit_cnt_Z[1]),
	.C(shift_reg_tx_Z[7]),
	.D(shift_reg_tx_Z[3]),
	.A(bit_cnt_Z[2]),
	.FCI(VCC)
);
defparam mosi_4_7_i_m3_2_0_wmux.INIT=20'h0FA44;
// @6:15
  CFG3 cs_n_1_0_i_a2 (
	.A(shift_reg_rx_0_Z[1]),
	.B(start_c),
	.C(shift_reg_rx_0_Z[0]),
	.Y(N_77)
);
defparam cs_n_1_0_i_a2.INIT=8'hC8;
// @6:74
  CFG4 sclk_r_RNIUEM2D (
	.A(CO0_0),
	.B(N_50_i),
	.C(clk_cnt_Z[1]),
	.D(un1_u_spi_3),
	.Y(N_96_i)
);
defparam sclk_r_RNIUEM2D.INIT=16'h0020;
// @6:55
  CFG3 sclk_r_1_sqmuxa_i_0_i (
	.A(clk_cnt_Z[1]),
	.B(CO0_0),
	.C(N_50_i),
	.Y(sclk_r_1_sqmuxa_i_0_i_0)
);
defparam sclk_r_1_sqmuxa_i_0_i.INIT=8'h07;
// @6:15
  CFG2 cs_n_1_0_i_a2_i (
	.A(N_94),
	.B(start_c),
	.Y(N_77_i)
);
defparam cs_n_1_0_i_a2_i.INIT=4'hB;
// @6:74
  CFG2 N_93_i_0_o3 (
	.A(bit_cnt_Z[1]),
	.B(bit_cnt_Z[2]),
	.Y(N_56)
);
defparam N_93_i_0_o3.INIT=4'hE;
// @6:67
  CFG2 shift_reg_rx_0_sqmuxa_0_0_i_0_o3 (
	.A(shift_reg_rx_0_Z[3]),
	.B(shift_reg_rx_0_Z[2]),
	.Y(N_50_i)
);
defparam shift_reg_rx_0_sqmuxa_0_0_i_0_o3.INIT=4'h1;
// @6:51
  CFG2 \clk_cnt_4_0_a2[0]  (
	.A(sclk_r_1_sqmuxa_i_0_i_0),
	.B(CO0_0),
	.Y(clk_cnt_4[0])
);
defparam \clk_cnt_4_0_a2[0] .INIT=4'h2;
// @6:86
  CFG2 \bit_cnt_5_o2[0]  (
	.A(shift_reg_rx_0_Z[1]),
	.B(shift_reg_rx_0_Z[0]),
	.Y(N_94)
);
defparam \bit_cnt_5_o2[0] .INIT=4'h1;
// @6:86
  CFG3 un1_shift_reg_tx_1_sqmuxa_i_a2_0_0 (
	.A(un1_u_spi_3),
	.B(clk_cnt_Z[1]),
	.C(CO0_0),
	.Y(un1_shift_reg_tx_1_sqmuxa_i_a2_0_0_Z)
);
defparam un1_shift_reg_tx_1_sqmuxa_i_a2_0_0.INIT=8'h80;
// @6:67
  CFG3 sclk_en_i_o2 (
	.A(un1_u_spi_3),
	.B(clk_cnt_Z[1]),
	.C(CO0_0),
	.Y(N_52)
);
defparam sclk_en_i_o2.INIT=8'hBF;
// @6:55
  CFG3 sclk_r_1_sqmuxa_i_0 (
	.A(clk_cnt_Z[1]),
	.B(CO0_0),
	.C(N_50_i),
	.Y(N_35)
);
defparam sclk_r_1_sqmuxa_i_0.INIT=8'hF8;
// @6:74
  CFG3 \shift_reg_rx_0_ns_0[0]  (
	.A(start_c),
	.B(shift_reg_rx_0_Z[4]),
	.C(shift_reg_rx_0_Z[0]),
	.Y(shift_reg_rx_0_ns[0])
);
defparam \shift_reg_rx_0_ns_0[0] .INIT=8'hDC;
// @6:74
  CFG3 \shift_reg_rx_0_ns_0[1]  (
	.A(start_c),
	.B(shift_reg_rx_0_Z[5]),
	.C(shift_reg_rx_0_Z[1]),
	.Y(shift_reg_rx_0_ns[1])
);
defparam \shift_reg_rx_0_ns_0[1] .INIT=8'hDC;
// @6:74
  CFG2 done_RNO (
	.A(shift_reg_rx_0_Z[5]),
	.B(shift_reg_rx_0_Z[4]),
	.Y(N_141_i)
);
defparam done_RNO.INIT=4'hE;
// @6:86
  CFG4 mosi_6_iv_0_0 (
	.A(N_57),
	.B(tx_data_c[7]),
	.C(N_94),
	.D(N_50_i),
	.Y(mosi_6)
);
defparam mosi_6_iv_0_0.INIT=16'h0CAE;
// @6:74
  CFG3 \shift_reg_rx_0_RNIB44S5[3]  (
	.A(shift_reg_rx_0_Z[5]),
	.B(shift_reg_rx_0_Z[1]),
	.C(shift_reg_rx_0_Z[3]),
	.Y(N_107_i)
);
defparam \shift_reg_rx_0_RNIB44S5[3] .INIT=8'hFE;
// @6:50
  CFG2 sclk_r_RNO (
	.A(N_50_i),
	.B(un1_u_spi_3),
	.Y(N_223_i)
);
defparam sclk_r_RNO.INIT=4'h1;
// @6:74
  CFG3 \shift_reg_rx_0_RNI08R99[4]  (
	.A(shift_reg_rx_0_Z[5]),
	.B(rst_n_c),
	.C(shift_reg_rx_0_Z[4]),
	.Y(N_59_i)
);
defparam \shift_reg_rx_0_RNI08R99[4] .INIT=8'hC8;
// @6:86
  CFG4 un1_shift_reg_tx_1_sqmuxa_i_0 (
	.A(un1_shift_reg_tx_1_sqmuxa_i_a2_0_0_Z),
	.B(start_c),
	.C(N_94),
	.D(N_50_i),
	.Y(N_33)
);
defparam un1_shift_reg_tx_1_sqmuxa_i_0.INIT=16'hFCA8;
// @6:86
  CFG3 \bit_cnt_5_0_o3[1]  (
	.A(N_52),
	.B(bit_cnt_Z[0]),
	.C(N_50_i),
	.Y(N_54)
);
defparam \bit_cnt_5_0_o3[1] .INIT=8'hFE;
// @6:86
  CFG3 \bit_cnt_5_0_a2_0[0]  (
	.A(N_52),
	.B(bit_cnt_Z[0]),
	.C(N_50_i),
	.Y(N_68)
);
defparam \bit_cnt_5_0_a2_0[0] .INIT=8'hC8;
// @6:74
  CFG4 \shift_reg_rx_0_ns_i_0_o2_0[2]  (
	.A(N_56),
	.B(N_52),
	.C(bit_cnt_Z[0]),
	.D(N_50_i),
	.Y(N_89)
);
defparam \shift_reg_rx_0_ns_i_0_o2_0[2] .INIT=16'hFF01;
// @6:50
  CFG3 \clk_cnt_RNO[1]  (
	.A(sclk_r_1_sqmuxa_i_0_i_0),
	.B(clk_cnt_Z[1]),
	.C(CO0_0),
	.Y(N_26_i)
);
defparam \clk_cnt_RNO[1] .INIT=8'h28;
// @6:74
  CFG4 \shift_reg_rx_0_ns_i_0_o2[3]  (
	.A(shift_reg_rx_0_Z[3]),
	.B(miso_c),
	.C(N_89),
	.D(N_52),
	.Y(N_110)
);
defparam \shift_reg_rx_0_ns_i_0_o2[3] .INIT=16'hF5F3;
// @6:74
  CFG4 \shift_reg_rx_0_ns_i_0_o2[2]  (
	.A(shift_reg_rx_0_Z[2]),
	.B(miso_c),
	.C(N_89),
	.D(N_52),
	.Y(N_109)
);
defparam \shift_reg_rx_0_ns_i_0_o2[2] .INIT=16'hF5FC;
// @6:86
  CFG4 \bit_cnt_5_0[0]  (
	.A(N_94),
	.B(N_56),
	.C(N_54),
	.D(N_68),
	.Y(bit_cnt_5[0])
);
defparam \bit_cnt_5_0[0] .INIT=16'hFF5D;
// @6:74
  CFG3 \shift_reg_rx_0_ns_a2_0_a2[5]  (
	.A(miso_c),
	.B(N_56),
	.C(N_54),
	.Y(shift_reg_rx_0_ns[5])
);
defparam \shift_reg_rx_0_ns_a2_0_a2[5] .INIT=8'h02;
// @6:74
  CFG3 \shift_reg_rx_0_ns_a2_0_a2[4]  (
	.A(miso_c),
	.B(N_56),
	.C(N_54),
	.Y(shift_reg_rx_0_ns[4])
);
defparam \shift_reg_rx_0_ns_a2_0_a2[4] .INIT=8'h01;
// @6:86
  CFG4 \bit_cnt_5_0[1]  (
	.A(bit_cnt_Z[2]),
	.B(bit_cnt_Z[1]),
	.C(N_94),
	.D(N_54),
	.Y(bit_cnt_5[1])
);
defparam \bit_cnt_5_0[1] .INIT=16'hCF2F;
// @6:86
  CFG4 \bit_cnt_5_0[2]  (
	.A(bit_cnt_Z[2]),
	.B(bit_cnt_Z[1]),
	.C(N_94),
	.D(N_54),
	.Y(bit_cnt_5[2])
);
defparam \bit_cnt_5_0[2] .INIT=16'hAF8F;
// @6:74
  CFG4 \shift_reg_rx_0_RNO[3]  (
	.A(shift_reg_rx_0_Z[1]),
	.B(start_c),
	.C(N_110),
	.D(N_50_i),
	.Y(N_77_i_0)
);
defparam \shift_reg_rx_0_RNO[3] .INIT=16'h8CAF;
// @6:74
  CFG4 \shift_reg_rx_0_RNO[2]  (
	.A(shift_reg_rx_0_Z[0]),
	.B(start_c),
	.C(N_109),
	.D(N_50_i),
	.Y(N_75_i)
);
defparam \shift_reg_rx_0_RNO[2] .INIT=16'h8CAF;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* spi_controller_8s_4s_0_0_2 */

module spi_controller_8s_4s_0_0_3 (
  un1_u_spi,
  tx_data_c,
  miso_c,
  rst_n_c,
  N_86_i,
  start_c,
  un1_u_spi_2,
  un1_u_spi_4,
  un1_u_spi_5,
  un1_u_spi_3,
  clk_c,
  rst_n_arst
)
;
output [7:0] un1_u_spi ;
input [7:0] tx_data_c ;
input miso_c ;
input rst_n_c ;
output N_86_i ;
input start_c ;
output un1_u_spi_2 ;
output un1_u_spi_4 ;
output un1_u_spi_5 ;
output un1_u_spi_3 ;
input clk_c ;
input rst_n_arst ;
wire miso_c ;
wire rst_n_c ;
wire N_86_i ;
wire start_c ;
wire un1_u_spi_2 ;
wire un1_u_spi_4 ;
wire un1_u_spi_5 ;
wire un1_u_spi_3 ;
wire clk_c ;
wire rst_n_arst ;
wire [5:0] shift_reg_rx_0_Z;
wire [5:0] shift_reg_rx_0_ns;
wire [0:0] shift_reg_rx_1_Z;
wire [0:0] shift_reg_rx_2_Z;
wire [0:0] shift_reg_rx_3_Z;
wire [0:0] shift_reg_rx_4_Z;
wire [0:0] shift_reg_rx_5_Z;
wire [0:0] shift_reg_rx_6_Z;
wire [0:0] shift_reg_rx_7_Z;
wire [7:0] shift_reg_tx_Z;
wire [0:0] clk_cnt_4;
wire [1:1] clk_cnt_Z;
wire [2:0] bit_cnt_Z;
wire [2:0] bit_cnt_5;
wire GND ;
wire VCC ;
wire N_107_i ;
wire N_96_i ;
wire N_223_i ;
wire N_49 ;
wire cs_n_1 ;
wire N_81_i ;
wire mosi_6 ;
wire N_45 ;
wire N_47_i ;
wire cs_n_1_i ;
wire CO0_0 ;
wire N_34_i ;
wire N_75_i ;
wire N_77_i ;
wire N_132_i ;
wire mosi_4_7_i_m2_2_wmux_3_FCO ;
wire mosi_4_7_i_m2_2_wmux_3_S ;
wire N_95 ;
wire mosi_4_7_i_m2_2_0_y1 ;
wire mosi_4_7_i_m2_2_0_y3 ;
wire mosi_4_7_i_m2_2_co1_0 ;
wire mosi_4_7_i_m2_2_wmux_2_S ;
wire mosi_4_7_i_m2_2_y0_0 ;
wire mosi_4_7_i_m2_2_co0_0 ;
wire mosi_4_7_i_m2_2_wmux_1_S ;
wire mosi_4_7_i_m2_2_0_co1 ;
wire mosi_4_7_i_m2_2_wmux_0_S ;
wire mosi_4_7_i_m2_2_0_y0 ;
wire mosi_4_7_i_m2_2_0_co0 ;
wire mosi_4_7_i_m2_2_0_wmux_S ;
wire sclk_r_1_sqmuxa_i_0_i_1 ;
wire N_87 ;
wire un1_shift_reg_tx_1_sqmuxa_i_a2_0_0_Z ;
wire N_126 ;
wire N_83 ;
wire N_127 ;
wire N_129 ;
wire N_85 ;
wire N_116 ;
wire N_105 ;
wire N_106 ;
wire N_15 ;
wire N_14 ;
wire N_13 ;
wire N_12 ;
wire N_11 ;
wire N_10 ;
// @6:74
  SLE \shift_reg_rx_0[0]  (
	.Q(shift_reg_rx_0_Z[0]),
	.ADn(GND),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_0_ns[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_1[0]  (
	.Q(shift_reg_rx_1_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(N_107_i),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:50
  SLE sclk_r (
	.Q(un1_u_spi_3),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(N_223_i),
	.EN(N_49),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_2[0]  (
	.Q(shift_reg_rx_2_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_1_Z[0]),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_3[0]  (
	.Q(shift_reg_rx_3_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_2_Z[0]),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_4[0]  (
	.Q(shift_reg_rx_4_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_3_Z[0]),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE cs_n (
	.Q(un1_u_spi_5),
	.ADn(GND),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(cs_n_1),
	.EN(N_81_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_5[0]  (
	.Q(shift_reg_rx_5_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_4_Z[0]),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_6[0]  (
	.Q(shift_reg_rx_6_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_5_Z[0]),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE mosi (
	.Q(un1_u_spi_4),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(mosi_6),
	.EN(N_45),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_7[0]  (
	.Q(shift_reg_rx_7_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_6_Z[0]),
	.EN(N_96_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[5]  (
	.Q(un1_u_spi[5]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_5_Z[0]),
	.EN(N_47_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[4]  (
	.Q(un1_u_spi[4]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_4_Z[0]),
	.EN(N_47_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[3]  (
	.Q(un1_u_spi[3]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_3_Z[0]),
	.EN(N_47_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[2]  (
	.Q(un1_u_spi[2]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_2_Z[0]),
	.EN(N_47_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[1]  (
	.Q(un1_u_spi[1]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_1_Z[0]),
	.EN(N_47_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[0]  (
	.Q(un1_u_spi[0]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(N_107_i),
	.EN(N_47_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[7]  (
	.Q(shift_reg_tx_Z[7]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[7]),
	.EN(cs_n_1_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[6]  (
	.Q(shift_reg_tx_Z[6]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[6]),
	.EN(cs_n_1_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[5]  (
	.Q(shift_reg_tx_Z[5]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[5]),
	.EN(cs_n_1_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[4]  (
	.Q(shift_reg_tx_Z[4]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[4]),
	.EN(cs_n_1_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[3]  (
	.Q(shift_reg_tx_Z[3]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[3]),
	.EN(cs_n_1_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[2]  (
	.Q(shift_reg_tx_Z[2]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[2]),
	.EN(cs_n_1_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[1]  (
	.Q(shift_reg_tx_Z[1]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[1]),
	.EN(cs_n_1_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_tx[0]  (
	.Q(shift_reg_tx_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(tx_data_c[0]),
	.EN(cs_n_1_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[7]  (
	.Q(un1_u_spi[7]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_7_Z[0]),
	.EN(N_47_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \rx_data[6]  (
	.Q(un1_u_spi[6]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk_c),
	.D(shift_reg_rx_6_Z[0]),
	.EN(N_47_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:50
  SLE \clk_cnt[0]  (
	.Q(CO0_0),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(clk_cnt_4[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:50
  SLE \clk_cnt[1]  (
	.Q(clk_cnt_Z[1]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(N_34_i),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \bit_cnt[0]  (
	.Q(bit_cnt_Z[0]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(bit_cnt_5[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \bit_cnt[1]  (
	.Q(bit_cnt_Z[1]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(bit_cnt_5[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \bit_cnt[2]  (
	.Q(bit_cnt_Z[2]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(bit_cnt_5[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_0[1]  (
	.Q(shift_reg_rx_0_Z[1]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_0_ns[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_0[2]  (
	.Q(shift_reg_rx_0_Z[2]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(N_75_i),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_0[3]  (
	.Q(shift_reg_rx_0_Z[3]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(N_77_i),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_0[4]  (
	.Q(shift_reg_rx_0_Z[4]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_0_ns[4]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE \shift_reg_rx_0[5]  (
	.Q(shift_reg_rx_0_Z[5]),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(shift_reg_rx_0_ns[5]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @6:74
  SLE done (
	.Q(un1_u_spi_2),
	.ADn(VCC),
	.ALn(rst_n_arst),
	.CLK(clk_c),
	.D(N_132_i),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
  ARI1 mosi_4_7_i_m2_2_wmux_3 (
	.FCO(mosi_4_7_i_m2_2_wmux_3_FCO),
	.S(mosi_4_7_i_m2_2_wmux_3_S),
	.Y(N_95),
	.B(mosi_4_7_i_m2_2_0_y1),
	.C(bit_cnt_Z[0]),
	.D(VCC),
	.A(mosi_4_7_i_m2_2_0_y3),
	.FCI(mosi_4_7_i_m2_2_co1_0)
);
defparam mosi_4_7_i_m2_2_wmux_3.INIT=20'h0EC2C;
  ARI1 mosi_4_7_i_m2_2_wmux_2 (
	.FCO(mosi_4_7_i_m2_2_co1_0),
	.S(mosi_4_7_i_m2_2_wmux_2_S),
	.Y(mosi_4_7_i_m2_2_0_y3),
	.B(bit_cnt_Z[1]),
	.C(shift_reg_tx_Z[2]),
	.D(shift_reg_tx_Z[6]),
	.A(mosi_4_7_i_m2_2_y0_0),
	.FCI(mosi_4_7_i_m2_2_co0_0)
);
defparam mosi_4_7_i_m2_2_wmux_2.INIT=20'h0F588;
  ARI1 mosi_4_7_i_m2_2_wmux_1 (
	.FCO(mosi_4_7_i_m2_2_co0_0),
	.S(mosi_4_7_i_m2_2_wmux_1_S),
	.Y(mosi_4_7_i_m2_2_y0_0),
	.B(bit_cnt_Z[1]),
	.C(shift_reg_tx_Z[0]),
	.D(shift_reg_tx_Z[4]),
	.A(bit_cnt_Z[2]),
	.FCI(mosi_4_7_i_m2_2_0_co1)
);
defparam mosi_4_7_i_m2_2_wmux_1.INIT=20'h0FA44;
  ARI1 mosi_4_7_i_m2_2_wmux_0 (
	.FCO(mosi_4_7_i_m2_2_0_co1),
	.S(mosi_4_7_i_m2_2_wmux_0_S),
	.Y(mosi_4_7_i_m2_2_0_y1),
	.B(bit_cnt_Z[1]),
	.C(shift_reg_tx_Z[1]),
	.D(shift_reg_tx_Z[5]),
	.A(mosi_4_7_i_m2_2_0_y0),
	.FCI(mosi_4_7_i_m2_2_0_co0)
);
defparam mosi_4_7_i_m2_2_wmux_0.INIT=20'h0F588;
  ARI1 mosi_4_7_i_m2_2_0_wmux (
	.FCO(mosi_4_7_i_m2_2_0_co0),
	.S(mosi_4_7_i_m2_2_0_wmux_S),
	.Y(mosi_4_7_i_m2_2_0_y0),
	.B(bit_cnt_Z[1]),
	.C(shift_reg_tx_Z[7]),
	.D(shift_reg_tx_Z[3]),
	.A(bit_cnt_Z[2]),
	.FCI(VCC)
);
defparam mosi_4_7_i_m2_2_0_wmux.INIT=20'h0FA44;
// @6:15
  CFG3 cs_n_1_0_0_0_i (
	.A(shift_reg_rx_0_Z[1]),
	.B(start_c),
	.C(shift_reg_rx_0_Z[0]),
	.Y(cs_n_1_i)
);
defparam cs_n_1_0_0_0_i.INIT=8'hC8;
// @6:74
  CFG4 sclk_r_RNI8DFP21 (
	.A(CO0_0),
	.B(N_81_i),
	.C(clk_cnt_Z[1]),
	.D(un1_u_spi_3),
	.Y(N_96_i)
);
defparam sclk_r_RNI8DFP21.INIT=16'h0020;
// @6:55
  CFG3 sclk_r_1_sqmuxa_i_0_i (
	.A(clk_cnt_Z[1]),
	.B(CO0_0),
	.C(N_81_i),
	.Y(sclk_r_1_sqmuxa_i_0_i_1)
);
defparam sclk_r_1_sqmuxa_i_0_i.INIT=8'h07;
// @6:51
  CFG2 \clk_cnt_4_0_a2[0]  (
	.A(sclk_r_1_sqmuxa_i_0_i_1),
	.B(CO0_0),
	.Y(clk_cnt_4[0])
);
defparam \clk_cnt_4_0_a2[0] .INIT=4'h2;
// @6:15
  CFG2 \shift_reg_rx_0_RNIFQJIF[2]  (
	.A(shift_reg_rx_0_Z[3]),
	.B(shift_reg_rx_0_Z[2]),
	.Y(N_81_i)
);
defparam \shift_reg_rx_0_RNIFQJIF[2] .INIT=4'h1;
// @6:86
  CFG2 \bit_cnt_5_0_o2[0]  (
	.A(bit_cnt_Z[1]),
	.B(bit_cnt_Z[2]),
	.Y(N_87)
);
defparam \bit_cnt_5_0_o2[0] .INIT=4'hE;
// @6:86
  CFG2 \bit_cnt_5_0_o2[1]  (
	.A(shift_reg_rx_0_Z[1]),
	.B(shift_reg_rx_0_Z[0]),
	.Y(N_86_i)
);
defparam \bit_cnt_5_0_o2[1] .INIT=4'h1;
// @6:86
  CFG3 un1_shift_reg_tx_1_sqmuxa_i_a2_0_0 (
	.A(un1_u_spi_3),
	.B(clk_cnt_Z[1]),
	.C(CO0_0),
	.Y(un1_shift_reg_tx_1_sqmuxa_i_a2_0_0_Z)
);
defparam un1_shift_reg_tx_1_sqmuxa_i_a2_0_0.INIT=8'h80;
// @6:74
  CFG2 \shift_reg_rx_0_ns_i_0_a2_0[3]  (
	.A(N_81_i),
	.B(start_c),
	.Y(N_126)
);
defparam \shift_reg_rx_0_ns_i_0_a2_0[3] .INIT=4'h2;
// @6:67
  CFG3 shift_reg_rx_0_sqmuxa_i_o2_0_o2_0 (
	.A(un1_u_spi_3),
	.B(clk_cnt_Z[1]),
	.C(CO0_0),
	.Y(N_83)
);
defparam shift_reg_rx_0_sqmuxa_i_o2_0_o2_0.INIT=8'hBF;
// @6:55
  CFG3 sclk_r_1_sqmuxa_i_0 (
	.A(clk_cnt_Z[1]),
	.B(CO0_0),
	.C(N_81_i),
	.Y(N_49)
);
defparam sclk_r_1_sqmuxa_i_0.INIT=8'hF8;
// @6:74
  CFG3 \shift_reg_rx_0_ns_0[0]  (
	.A(start_c),
	.B(shift_reg_rx_0_Z[4]),
	.C(shift_reg_rx_0_Z[0]),
	.Y(shift_reg_rx_0_ns[0])
);
defparam \shift_reg_rx_0_ns_0[0] .INIT=8'hDC;
// @6:74
  CFG3 \shift_reg_rx_0_ns_0[1]  (
	.A(start_c),
	.B(shift_reg_rx_0_Z[5]),
	.C(shift_reg_rx_0_Z[1]),
	.Y(shift_reg_rx_0_ns[1])
);
defparam \shift_reg_rx_0_ns_0[1] .INIT=8'hDC;
// @6:15
  CFG2 cs_n_1_0_0_0 (
	.A(N_86_i),
	.B(start_c),
	.Y(cs_n_1)
);
defparam cs_n_1_0_0_0.INIT=4'hB;
// @6:74
  CFG2 done_RNO (
	.A(shift_reg_rx_0_Z[5]),
	.B(shift_reg_rx_0_Z[4]),
	.Y(N_132_i)
);
defparam done_RNO.INIT=4'hE;
// @6:86
  CFG4 mosi_6_iv_0_0 (
	.A(N_95),
	.B(tx_data_c[7]),
	.C(N_86_i),
	.D(N_81_i),
	.Y(mosi_6)
);
defparam mosi_6_iv_0_0.INIT=16'h0CAE;
// @6:74
  CFG3 \shift_reg_rx_0_RNI8PTBN[3]  (
	.A(shift_reg_rx_0_Z[5]),
	.B(shift_reg_rx_0_Z[1]),
	.C(shift_reg_rx_0_Z[3]),
	.Y(N_107_i)
);
defparam \shift_reg_rx_0_RNI8PTBN[3] .INIT=8'hFE;
// @6:50
  CFG2 sclk_r_RNO (
	.A(N_81_i),
	.B(un1_u_spi_3),
	.Y(N_223_i)
);
defparam sclk_r_RNO.INIT=4'h1;
// @6:74
  CFG3 \shift_reg_rx_0_RNIUL1VK[4]  (
	.A(shift_reg_rx_0_Z[5]),
	.B(rst_n_c),
	.C(shift_reg_rx_0_Z[4]),
	.Y(N_47_i)
);
defparam \shift_reg_rx_0_RNIUL1VK[4] .INIT=8'hC8;
// @6:74
  CFG4 \shift_reg_rx_0_ns_i_0_a2_1[3]  (
	.A(shift_reg_rx_0_Z[1]),
	.B(bit_cnt_Z[0]),
	.C(N_83),
	.D(N_87),
	.Y(N_127)
);
defparam \shift_reg_rx_0_ns_i_0_a2_1[3] .INIT=16'h0001;
// @6:74
  CFG4 \shift_reg_rx_0_ns_i_0_a2_0[2]  (
	.A(shift_reg_rx_0_Z[0]),
	.B(bit_cnt_Z[0]),
	.C(N_87),
	.D(N_83),
	.Y(N_129)
);
defparam \shift_reg_rx_0_ns_i_0_a2_0[2] .INIT=16'h0001;
// @6:86
  CFG4 un1_shift_reg_tx_1_sqmuxa_i_0 (
	.A(un1_shift_reg_tx_1_sqmuxa_i_a2_0_0_Z),
	.B(start_c),
	.C(N_86_i),
	.D(N_81_i),
	.Y(N_45)
);
defparam un1_shift_reg_tx_1_sqmuxa_i_0.INIT=16'hFCA8;
// @6:86
  CFG3 \bit_cnt_5_0_o2_0[1]  (
	.A(N_83),
	.B(bit_cnt_Z[0]),
	.C(N_81_i),
	.Y(N_85)
);
defparam \bit_cnt_5_0_o2_0[1] .INIT=8'hFE;
// @6:86
  CFG3 \bit_cnt_5_0_a2_0[0]  (
	.A(N_83),
	.B(bit_cnt_Z[0]),
	.C(N_81_i),
	.Y(N_116)
);
defparam \bit_cnt_5_0_a2_0[0] .INIT=8'hC8;
// @6:50
  CFG3 \clk_cnt_RNO[1]  (
	.A(sclk_r_1_sqmuxa_i_0_i_1),
	.B(clk_cnt_Z[1]),
	.C(CO0_0),
	.Y(N_34_i)
);
defparam \clk_cnt_RNO[1] .INIT=8'h28;
// @6:74
  CFG4 \shift_reg_rx_0_ns_i_0_o2[2]  (
	.A(shift_reg_rx_0_Z[2]),
	.B(miso_c),
	.C(N_83),
	.D(N_81_i),
	.Y(N_105)
);
defparam \shift_reg_rx_0_ns_i_0_o2[2] .INIT=16'hFF5C;
// @6:74
  CFG4 \shift_reg_rx_0_ns_i_0_o2[3]  (
	.A(shift_reg_rx_0_Z[3]),
	.B(miso_c),
	.C(N_83),
	.D(N_81_i),
	.Y(N_106)
);
defparam \shift_reg_rx_0_ns_i_0_o2[3] .INIT=16'hFF53;
// @6:86
  CFG4 \bit_cnt_5_0[0]  (
	.A(N_116),
	.B(N_85),
	.C(N_87),
	.D(N_86_i),
	.Y(bit_cnt_5[0])
);
defparam \bit_cnt_5_0[0] .INIT=16'hBAFF;
// @6:74
  CFG3 \shift_reg_rx_0_ns_a2_0_a2[5]  (
	.A(miso_c),
	.B(N_87),
	.C(N_85),
	.Y(shift_reg_rx_0_ns[5])
);
defparam \shift_reg_rx_0_ns_a2_0_a2[5] .INIT=8'h02;
// @6:74
  CFG3 \shift_reg_rx_0_ns_a2_0_a2[4]  (
	.A(miso_c),
	.B(N_87),
	.C(N_85),
	.Y(shift_reg_rx_0_ns[4])
);
defparam \shift_reg_rx_0_ns_a2_0_a2[4] .INIT=8'h01;
// @6:86
  CFG4 \bit_cnt_5_0[1]  (
	.A(bit_cnt_Z[2]),
	.B(bit_cnt_Z[1]),
	.C(N_86_i),
	.D(N_85),
	.Y(bit_cnt_5[1])
);
defparam \bit_cnt_5_0[1] .INIT=16'hCF2F;
// @6:86
  CFG4 \bit_cnt_5_0[2]  (
	.A(bit_cnt_Z[2]),
	.B(bit_cnt_Z[1]),
	.C(N_86_i),
	.D(N_85),
	.Y(bit_cnt_5[2])
);
defparam \bit_cnt_5_0[2] .INIT=16'hAF8F;
// @6:74
  CFG4 \shift_reg_rx_0_RNO[3]  (
	.A(shift_reg_rx_0_Z[1]),
	.B(N_126),
	.C(N_127),
	.D(N_106),
	.Y(N_77_i)
);
defparam \shift_reg_rx_0_RNO[3] .INIT=16'h0203;
// @6:74
  CFG4 \shift_reg_rx_0_RNO[2]  (
	.A(N_126),
	.B(shift_reg_rx_0_Z[0]),
	.C(N_129),
	.D(N_105),
	.Y(N_75_i)
);
defparam \shift_reg_rx_0_RNO[2] .INIT=16'h0405;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* spi_controller_8s_4s_0_0_3 */

module spi_controller_tmr (
  clk,
  rst_n,
  start,
  tx_data,
  rx_data,
  busy,
  done,
  sclk,
  mosi,
  miso,
  cs_n,
  fault
)
;

/*  Synopsys
.origName=spi_controller_tmr
.langParams="DATA_WIDTH CLK_DIV CPOL CPHA"
DATA_WIDTH=8
CLK_DIV=4
CPOL="1'b0"
CPHA="1'b0"
 */
input clk ;
input rst_n ;
input start ;
input [7:0] tx_data ;
output [7:0] rx_data ;
output busy ;
output done ;
output sclk ;
output mosi ;
input miso ;
output cs_n ;
output [2:0] fault ;
wire clk ;
wire rst_n ;
wire start ;
wire busy ;
wire done ;
wire sclk ;
wire mosi ;
wire miso ;
wire cs_n ;
wire [7:0] rx_data_v_0_;
(* DONT_TOUCH="true" , keep=1 *)wire [0:0] done_v;
(* DONT_TOUCH="true" , keep=1 *)wire [0:0] sclk_v;
(* DONT_TOUCH="true" , keep=1 *)wire [0:0] mosi_v;
(* DONT_TOUCH="true" , keep=1 *)wire [0:0] cs_n_v;
wire [7:0] rx_data_v_2_;
(* DONT_TOUCH="true" , keep=1 *)wire [2:2] un1_u_spi_6;
(* DONT_TOUCH="true" , keep=1 *)wire [2:2] un1_u_spi_7;
(* DONT_TOUCH="true" , keep=1 *)wire [2:2] un1_u_spi_8;
(* DONT_TOUCH="true" , keep=1 *)wire [2:2] un1_u_spi_9;
wire [7:0] rx_data_v_1_;
(* DONT_TOUCH="true" , keep=1 *)wire [1:1] un1_u_spi_1;
(* DONT_TOUCH="true" , keep=1 *)wire [1:1] un1_u_spi_4;
(* DONT_TOUCH="true" , keep=1 *)wire [1:1] un1_u_spi_3;
(* DONT_TOUCH="true" , keep=1 *)wire [1:1] un1_u_spi;
(* DONT_TOUCH="true" , keep=1 *)wire [0:0] busy_v;
(* DONT_TOUCH="true" , keep=1 *)wire [1:1] un1_u_spi_2;
(* DONT_TOUCH="true" , keep=1 *)wire [2:2] un1_u_spi_5;
wire [7:0] tx_data_c;
wire [7:0] rx_data_c;
wire [0:0] un1_fault_1_0_Z;
wire [0:0] un1_fault_1_1_Z;
wire [0:0] un1_fault_1_2_Z;
wire [0:0] un1_fault_1_4_Z;
wire [0:0] un1_fault_1_5_Z;
wire [0:0] un1_fault_1_8_Z;
wire [0:0] un1_fault_1_9_Z;
wire [0:0] un1_fault_2_0_Z;
wire [0:0] un1_fault_2_1_Z;
wire [0:0] un1_fault_2_2_Z;
wire [0:0] un1_fault_2_4_Z;
wire [0:0] un1_fault_2_5_Z;
wire [0:0] un1_fault_2_8_Z;
wire [0:0] un1_fault_2_9_Z;
wire [0:0] un1_fault_0_Z;
wire [0:0] un1_fault_1_11_Z;
wire [0:0] un1_fault_2_11_Z;
wire [0:0] un1_fault_4_Z;
wire [0:0] un1_fault_5_Z;
wire [0:0] un1_fault_8_Z;
wire [0:0] un1_fault_9_Z;
wire [0:0] un1_fault_i;
wire [0:0] un1_fault_1_i;
wire [0:0] un1_fault_2_i;
wire VCC ;
wire GND ;
wire rst_n_arst ;
wire \_l1.un37_fault_2_Z  ;
wire \_l0.un17_fault_2_Z  ;
wire \_l2.un57_fault_2_Z  ;
wire clk_c ;
wire rst_n_c ;
wire start_c ;
wire miso_c ;
wire busy_c ;
wire done_c ;
wire sclk_c ;
wire mosi_c ;
wire cs_n_c ;
wire clk_ibuf_Z ;
  CLKINT rst_n_ibuf_RNIBNDC5 (
	.Y(rst_n_arst),
	.A(rst_n_c)
);
  CLKINT clk_ibuf_RNIVTI21 (
	.Y(clk_c),
	.A(clk_ibuf_Z)
);
// @7:12
  INBUF clk_ibuf (
	.Y(clk_ibuf_Z),
	.PAD(clk)
);
// @7:13
  INBUF rst_n_ibuf (
	.Y(rst_n_c),
	.PAD(rst_n)
);
// @7:16
  INBUF start_ibuf (
	.Y(start_c),
	.PAD(start)
);
// @7:17
  INBUF \tx_data_ibuf[0]  (
	.Y(tx_data_c[0]),
	.PAD(tx_data[0])
);
// @7:17
  INBUF \tx_data_ibuf[1]  (
	.Y(tx_data_c[1]),
	.PAD(tx_data[1])
);
// @7:17
  INBUF \tx_data_ibuf[2]  (
	.Y(tx_data_c[2]),
	.PAD(tx_data[2])
);
// @7:17
  INBUF \tx_data_ibuf[3]  (
	.Y(tx_data_c[3]),
	.PAD(tx_data[3])
);
// @7:17
  INBUF \tx_data_ibuf[4]  (
	.Y(tx_data_c[4]),
	.PAD(tx_data[4])
);
// @7:17
  INBUF \tx_data_ibuf[5]  (
	.Y(tx_data_c[5]),
	.PAD(tx_data[5])
);
// @7:17
  INBUF \tx_data_ibuf[6]  (
	.Y(tx_data_c[6]),
	.PAD(tx_data[6])
);
// @7:17
  INBUF \tx_data_ibuf[7]  (
	.Y(tx_data_c[7]),
	.PAD(tx_data[7])
);
// @7:25
  INBUF miso_ibuf (
	.Y(miso_c),
	.PAD(miso)
);
// @7:18
  OUTBUF \rx_data_obuf[0]  (
	.PAD(rx_data[0]),
	.D(rx_data_c[0])
);
// @7:18
  OUTBUF \rx_data_obuf[1]  (
	.PAD(rx_data[1]),
	.D(rx_data_c[1])
);
// @7:18
  OUTBUF \rx_data_obuf[2]  (
	.PAD(rx_data[2]),
	.D(rx_data_c[2])
);
// @7:18
  OUTBUF \rx_data_obuf[3]  (
	.PAD(rx_data[3]),
	.D(rx_data_c[3])
);
// @7:18
  OUTBUF \rx_data_obuf[4]  (
	.PAD(rx_data[4]),
	.D(rx_data_c[4])
);
// @7:18
  OUTBUF \rx_data_obuf[5]  (
	.PAD(rx_data[5]),
	.D(rx_data_c[5])
);
// @7:18
  OUTBUF \rx_data_obuf[6]  (
	.PAD(rx_data[6]),
	.D(rx_data_c[6])
);
// @7:18
  OUTBUF \rx_data_obuf[7]  (
	.PAD(rx_data[7]),
	.D(rx_data_c[7])
);
// @7:19
  OUTBUF busy_obuf (
	.PAD(busy),
	.D(busy_c)
);
// @7:20
  OUTBUF done_obuf (
	.PAD(done),
	.D(done_c)
);
// @7:23
  OUTBUF sclk_obuf (
	.PAD(sclk),
	.D(sclk_c)
);
// @7:24
  OUTBUF mosi_obuf (
	.PAD(mosi),
	.D(mosi_c)
);
// @7:26
  OUTBUF cs_n_obuf (
	.PAD(cs_n),
	.D(cs_n_c)
);
// @7:29
  OUTBUF \fault_obuf[0]  (
	.PAD(fault[0]),
	.D(un1_fault_2_i[0])
);
// @7:29
  OUTBUF \fault_obuf[1]  (
	.PAD(fault[1]),
	.D(un1_fault_1_i[0])
);
// @7:29
  OUTBUF \fault_obuf[2]  (
	.PAD(fault[2]),
	.D(un1_fault_i[0])
);
// @7:105
  CFG3 \_l2.un57_fault_2  (
	.A(rx_data_v_0_[2]),
	.B(rx_data_v_1_[2]),
	.C(rx_data_v_2_[2]),
	.Y(\_l2.un57_fault_2_Z )
);
defparam \_l2.un57_fault_2 .INIT=8'h18;
// @7:105
  CFG3 \_l0.un17_fault_2  (
	.A(rx_data_v_1_[2]),
	.B(rx_data_v_2_[2]),
	.C(rx_data_v_0_[2]),
	.Y(\_l0.un17_fault_2_Z )
);
defparam \_l0.un17_fault_2 .INIT=8'h18;
// @7:105
  CFG3 \_l1.un37_fault_2  (
	.A(rx_data_v_0_[2]),
	.B(rx_data_v_2_[2]),
	.C(rx_data_v_1_[2]),
	.Y(\_l1.un37_fault_2_Z )
);
defparam \_l1.un37_fault_2 .INIT=8'h18;
// @7:91
  CFG3 \rx_data_1[7]  (
	.A(rx_data_v_2_[7]),
	.B(rx_data_v_1_[7]),
	.C(rx_data_v_0_[7]),
	.Y(rx_data_c[7])
);
defparam \rx_data_1[7] .INIT=8'hE8;
// @7:91
  CFG3 \rx_data_1[0]  (
	.A(rx_data_v_2_[0]),
	.B(rx_data_v_1_[0]),
	.C(rx_data_v_0_[0]),
	.Y(rx_data_c[0])
);
defparam \rx_data_1[0] .INIT=8'hE8;
// @7:91
  CFG3 \rx_data_1[2]  (
	.A(rx_data_v_2_[2]),
	.B(rx_data_v_1_[2]),
	.C(rx_data_v_0_[2]),
	.Y(rx_data_c[2])
);
defparam \rx_data_1[2] .INIT=8'hE8;
// @7:76
  CFG3 sclk_cZ (
	.A(un1_u_spi_7[2]),
	.B(un1_u_spi_4[1]),
	.C(sclk_v[0]),
	.Y(sclk_c)
);
defparam sclk_cZ.INIT=8'hE8;
// @7:77
  CFG3 mosi_cZ (
	.A(un1_u_spi_8[2]),
	.B(un1_u_spi_3[1]),
	.C(mosi_v[0]),
	.Y(mosi_c)
);
defparam mosi_cZ.INIT=8'hE8;
// @7:78
  CFG3 cs_n_cZ (
	.A(un1_u_spi_9[2]),
	.B(un1_u_spi[1]),
	.C(cs_n_v[0]),
	.Y(cs_n_c)
);
defparam cs_n_cZ.INIT=8'hE8;
// @7:79
  CFG3 busy_cZ (
	.A(un1_u_spi_5[2]),
	.B(un1_u_spi_2[1]),
	.C(busy_v[0]),
	.Y(busy_c)
);
defparam busy_cZ.INIT=8'hE8;
// @7:80
  CFG3 done_cZ (
	.A(un1_u_spi_6[2]),
	.B(un1_u_spi_1[1]),
	.C(done_v[0]),
	.Y(done_c)
);
defparam done_cZ.INIT=8'hE8;
// @7:91
  CFG3 \rx_data_1[4]  (
	.A(rx_data_v_2_[4]),
	.B(rx_data_v_1_[4]),
	.C(rx_data_v_0_[4]),
	.Y(rx_data_c[4])
);
defparam \rx_data_1[4] .INIT=8'hE8;
// @7:91
  CFG3 \rx_data_1[5]  (
	.A(rx_data_v_2_[5]),
	.B(rx_data_v_1_[5]),
	.C(rx_data_v_0_[5]),
	.Y(rx_data_c[5])
);
defparam \rx_data_1[5] .INIT=8'hE8;
// @7:91
  CFG3 \rx_data_1[6]  (
	.A(rx_data_v_2_[6]),
	.B(rx_data_v_1_[6]),
	.C(rx_data_v_0_[6]),
	.Y(rx_data_c[6])
);
defparam \rx_data_1[6] .INIT=8'hE8;
// @7:91
  CFG3 \rx_data_1[1]  (
	.A(rx_data_v_2_[1]),
	.B(rx_data_v_1_[1]),
	.C(rx_data_v_0_[1]),
	.Y(rx_data_c[1])
);
defparam \rx_data_1[1] .INIT=8'hE8;
// @7:91
  CFG3 \rx_data_1[3]  (
	.A(rx_data_v_2_[3]),
	.B(rx_data_v_1_[3]),
	.C(rx_data_v_0_[3]),
	.Y(rx_data_c[3])
);
defparam \rx_data_1[3] .INIT=8'hE8;
// @7:100
  CFG4 \un1_fault_5[0]  (
	.A(rx_data_v_2_[5]),
	.B(rx_data_v_2_[4]),
	.C(rx_data_c[5]),
	.D(rx_data_c[4]),
	.Y(un1_fault_5_Z[0])
);
defparam \un1_fault_5[0] .INIT=16'h8421;
// @7:100
  CFG4 \un1_fault_4[0]  (
	.A(rx_data_v_2_[7]),
	.B(rx_data_v_2_[3]),
	.C(rx_data_c[7]),
	.D(rx_data_c[3]),
	.Y(un1_fault_4_Z[0])
);
defparam \un1_fault_4[0] .INIT=16'h8421;
// @7:100
  CFG4 \un1_fault_2_11[0]  (
	.A(rx_data_v_2_[0]),
	.B(rx_data_c[0]),
	.C(un1_u_spi_6[2]),
	.D(done_c),
	.Y(un1_fault_2_11_Z[0])
);
defparam \un1_fault_2_11[0] .INIT=16'h9009;
// @7:100
  CFG4 \un1_fault_1_11[0]  (
	.A(un1_u_spi_9[2]),
	.B(cs_n_c),
	.C(un1_u_spi_5[2]),
	.D(busy_c),
	.Y(un1_fault_1_11_Z[0])
);
defparam \un1_fault_1_11[0] .INIT=16'h9009;
// @7:100
  CFG4 \un1_fault_0[0]  (
	.A(un1_u_spi_7[2]),
	.B(sclk_c),
	.C(un1_u_spi_8[2]),
	.D(mosi_c),
	.Y(un1_fault_0_Z[0])
);
defparam \un1_fault_0[0] .INIT=16'h9009;
// @7:100
  CFG4 \un1_fault_2_5[0]  (
	.A(rx_data_v_0_[5]),
	.B(rx_data_v_0_[4]),
	.C(rx_data_c[5]),
	.D(rx_data_c[4]),
	.Y(un1_fault_2_5_Z[0])
);
defparam \un1_fault_2_5[0] .INIT=16'h8421;
// @7:100
  CFG4 \un1_fault_2_4[0]  (
	.A(rx_data_v_0_[7]),
	.B(rx_data_v_0_[3]),
	.C(rx_data_c[7]),
	.D(rx_data_c[3]),
	.Y(un1_fault_2_4_Z[0])
);
defparam \un1_fault_2_4[0] .INIT=16'h8421;
// @7:100
  CFG4 \un1_fault_2_2[0]  (
	.A(rx_data_v_0_[0]),
	.B(rx_data_c[0]),
	.C(done_v[0]),
	.D(done_c),
	.Y(un1_fault_2_2_Z[0])
);
defparam \un1_fault_2_2[0] .INIT=16'h9009;
// @7:100
  CFG4 \un1_fault_2_1[0]  (
	.A(cs_n_v[0]),
	.B(cs_n_c),
	.C(busy_v[0]),
	.D(busy_c),
	.Y(un1_fault_2_1_Z[0])
);
defparam \un1_fault_2_1[0] .INIT=16'h9009;
// @7:100
  CFG4 \un1_fault_2_0[0]  (
	.A(sclk_v[0]),
	.B(sclk_c),
	.C(mosi_v[0]),
	.D(mosi_c),
	.Y(un1_fault_2_0_Z[0])
);
defparam \un1_fault_2_0[0] .INIT=16'h9009;
// @7:100
  CFG4 \un1_fault_1_5[0]  (
	.A(rx_data_v_1_[5]),
	.B(rx_data_v_1_[4]),
	.C(rx_data_c[5]),
	.D(rx_data_c[4]),
	.Y(un1_fault_1_5_Z[0])
);
defparam \un1_fault_1_5[0] .INIT=16'h8421;
// @7:100
  CFG4 \un1_fault_1_4[0]  (
	.A(rx_data_v_1_[7]),
	.B(rx_data_v_1_[3]),
	.C(rx_data_c[7]),
	.D(rx_data_c[3]),
	.Y(un1_fault_1_4_Z[0])
);
defparam \un1_fault_1_4[0] .INIT=16'h8421;
// @7:100
  CFG4 \un1_fault_1_2[0]  (
	.A(rx_data_v_1_[0]),
	.B(rx_data_c[0]),
	.C(un1_u_spi_1[1]),
	.D(done_c),
	.Y(un1_fault_1_2_Z[0])
);
defparam \un1_fault_1_2[0] .INIT=16'h9009;
// @7:100
  CFG4 \un1_fault_1_1[0]  (
	.A(un1_u_spi[1]),
	.B(cs_n_c),
	.C(un1_u_spi_2[1]),
	.D(busy_c),
	.Y(un1_fault_1_1_Z[0])
);
defparam \un1_fault_1_1[0] .INIT=16'h9009;
// @7:100
  CFG4 \un1_fault_1_0[0]  (
	.A(un1_u_spi_4[1]),
	.B(sclk_c),
	.C(un1_u_spi_3[1]),
	.D(mosi_c),
	.Y(un1_fault_1_0_Z[0])
);
defparam \un1_fault_1_0[0] .INIT=16'h9009;
// @7:100
  CFG4 \un1_fault_8[0]  (
	.A(un1_fault_4_Z[0]),
	.B(rx_data_v_2_[1]),
	.C(rx_data_c[1]),
	.D(\_l2.un57_fault_2_Z ),
	.Y(un1_fault_8_Z[0])
);
defparam \un1_fault_8[0] .INIT=16'h0082;
// @7:100
  CFG4 \un1_fault_2_8[0]  (
	.A(un1_fault_2_4_Z[0]),
	.B(rx_data_v_0_[1]),
	.C(rx_data_c[1]),
	.D(\_l0.un17_fault_2_Z ),
	.Y(un1_fault_2_8_Z[0])
);
defparam \un1_fault_2_8[0] .INIT=16'h0082;
// @7:100
  CFG4 \un1_fault_1_8[0]  (
	.A(un1_fault_1_4_Z[0]),
	.B(rx_data_v_1_[1]),
	.C(rx_data_c[1]),
	.D(\_l1.un37_fault_2_Z ),
	.Y(un1_fault_1_8_Z[0])
);
defparam \un1_fault_1_8[0] .INIT=16'h0082;
// @7:100
  CFG4 \un1_fault_9[0]  (
	.A(un1_fault_5_Z[0]),
	.B(un1_fault_0_Z[0]),
	.C(rx_data_v_2_[6]),
	.D(rx_data_c[6]),
	.Y(un1_fault_9_Z[0])
);
defparam \un1_fault_9[0] .INIT=16'h8008;
// @7:100
  CFG4 \un1_fault_2_9[0]  (
	.A(un1_fault_2_5_Z[0]),
	.B(un1_fault_2_0_Z[0]),
	.C(rx_data_v_0_[6]),
	.D(rx_data_c[6]),
	.Y(un1_fault_2_9_Z[0])
);
defparam \un1_fault_2_9[0] .INIT=16'h8008;
// @7:100
  CFG4 \un1_fault_1_9[0]  (
	.A(un1_fault_1_5_Z[0]),
	.B(un1_fault_1_0_Z[0]),
	.C(rx_data_v_1_[6]),
	.D(rx_data_c[6]),
	.Y(un1_fault_1_9_Z[0])
);
defparam \un1_fault_1_9[0] .INIT=16'h8008;
  CFG4 \fault_obuf_RNO[0]  (
	.A(un1_fault_2_9_Z[0]),
	.B(un1_fault_2_8_Z[0]),
	.C(un1_fault_2_2_Z[0]),
	.D(un1_fault_2_1_Z[0]),
	.Y(un1_fault_2_i[0])
);
defparam \fault_obuf_RNO[0] .INIT=16'h7FFF;
  CFG4 \fault_obuf_RNO[1]  (
	.A(un1_fault_1_9_Z[0]),
	.B(un1_fault_1_8_Z[0]),
	.C(un1_fault_1_2_Z[0]),
	.D(un1_fault_1_1_Z[0]),
	.Y(un1_fault_1_i[0])
);
defparam \fault_obuf_RNO[1] .INIT=16'h7FFF;
  CFG4 \fault_obuf_RNO[2]  (
	.A(un1_fault_9_Z[0]),
	.B(un1_fault_8_Z[0]),
	.C(un1_fault_2_11_Z[0]),
	.D(un1_fault_1_11_Z[0]),
	.Y(un1_fault_i[0])
);
defparam \fault_obuf_RNO[2] .INIT=16'h7FFF;
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:38
//@7:40
//@7:40
//@7:40
//@7:40
//@7:40
//@7:40
//@7:40
//@7:40
//@7:40
//@7:40
//@7:40
//@7:40
//@7:40
//@7:40
//@7:40
//@7:40
//@7:40
//@7:40
//@7:40
//@7:40
//@7:40
//@7:40
//@7:40
//@7:40
// @7:54
(* keep=1 , DONT_TOUCH="true" *)  spi_controller_8s_4s_0_0 \gen_cores[0].u_spi  (
	.un1_u_spi(rx_data_v_0_[7:0]),
	.tx_data_c(tx_data_c[7:0]),
	.miso_c(miso_c),
	.N_94(busy_v[0]),
	.rst_n_c(rst_n_c),
	.start_c(start_c),
	.un1_u_spi_2(done_v[0]),
	.un1_u_spi_4(mosi_v[0]),
	.un1_u_spi_5(cs_n_v[0]),
	.un1_u_spi_3(sclk_v[0]),
	.clk_c(clk_c),
	.rst_n_arst(rst_n_arst)
);
// @7:54
(* keep=1 , DONT_TOUCH="true" *)  spi_controller_8s_4s_0_0_2 \gen_cores[2].u_spi  (
	.un1_u_spi(rx_data_v_2_[7:0]),
	.tx_data_c(tx_data_c[7:0]),
	.miso_c(miso_c),
	.rst_n_c(rst_n_c),
	.N_94(un1_u_spi_5[2]),
	.start_c(start_c),
	.un1_u_spi_2(un1_u_spi_6[2]),
	.un1_u_spi_4(un1_u_spi_8[2]),
	.un1_u_spi_5(un1_u_spi_9[2]),
	.un1_u_spi_3(un1_u_spi_7[2]),
	.clk_c(clk_c),
	.rst_n_arst(rst_n_arst)
);
// @7:54
(* keep=1 , DONT_TOUCH="true" *)  spi_controller_8s_4s_0_0_3 \gen_cores[1].u_spi  (
	.un1_u_spi(rx_data_v_1_[7:0]),
	.tx_data_c(tx_data_c[7:0]),
	.miso_c(miso_c),
	.rst_n_c(rst_n_c),
	.N_86_i(un1_u_spi_2[1]),
	.start_c(start_c),
	.un1_u_spi_2(un1_u_spi_1[1]),
	.un1_u_spi_4(un1_u_spi_3[1]),
	.un1_u_spi_5(un1_u_spi[1]),
	.un1_u_spi_3(un1_u_spi_4[1]),
	.clk_c(clk_c),
	.rst_n_arst(rst_n_arst)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* spi_controller_tmr */

